body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row{
  margin-right: 0;
  margin-left:0;
}

.main-content{
  margin: 0 auto;
  width: 1024px;
}

.product-img img{
  width: 100px; 
}

.product-title{
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price{
  color: green;
  font-size: 18px;
}

.product-list .product-price{
  display: block;
  margin-bottom: 10px;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a{
  color: darkslategray;
}

a, a:focus, a:hover {
  text-decoration: none;
}

.product-list li{
  display: inline-block;
  vertical-align: text-top;
  width: 341px;
}

.product-panel{
  height: 260px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header .mini-cart{
  float: right;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 22px;
}

.product-detail .product-title{
  font-size: 24px;
}

.product-detail .product-img img {
  width: 280px; 
}

.product-detail .add-to-cart-btn{
  margin-left: 10px;
}

.product-description{
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-detail ul{
  list-style: initial;
  margin-left:20px;
}

.clear{
  clear: both;
}

.product-cart .product-img img{
  width: 50px;
  margin-bottom: 10px;
}

.header{
  background-color: coral;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}

.heading{
  font-size: 18px;
  border-bottom: solid 2px lightblue;
}

.logo{
  font-size:28px;
  color:white;
}

.search-panel{
  position: absolute;
  top: 10px;
}

.search{
  width: 400px;
  line-height: 2;
  vertical-align: baseline;
  font-size: 18px;
  color: slategrey;
  padding: 0px 5px; 
  margin-left: 180px; 
}

.search-btn{
  font-size: 24px;
  background-color: lightblue;
  padding: 5px;
  vertical-align: sub;
  margin-left: -5px;
  border-left: none;
}

.search-btn .glyphicon-search{
  margin-right:5px;
}

.total-panel{
  border-top: solid 2px lightblue;
  padding-top: 10px;
}

.total-panel .total-label{
  text-align: right;
}

.product-cart .product-row{
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
}

.product-cart .quantity-field{
    width: 50px;
    text-align: center;
}

.product-cart .amount{
  text-align: right;
}