<div class="product-cart" ng-init="cart = cartController.cart">
	<div ng-include="'views/header.html'"></div>
	<div class="heading row">
		<div class="product-img col-md-1"></div>
		<div class="product-title col-md-5">Product name</div>
		<div class="col-md-2">Unit price</div>
		<div class="col-md-1">Quantity</div>
		<div class="col-md-1">Total</div>
		<div class="col-md-2">Total</div>
	</div>
	<ul>
		<li ng-repeat="cartItem in cart.items">
			<div class="row product-row">
				<div class="product-img col-md-1">
					<img ng-src="{{ cartItem.product.imgUrl }}" />
				</div>
				<div class="col-md-5">
					<a href="#/products/{{cartItem.product.id}}">{{ cartItem.product.name }}</a>
				</div>
				<div class="col-md-2">{{ cartItem.product.price }}</div>
				<div class="col-md-1">{{ cartItem.quantity }}</div>
				<div class="col-md-1">{{ cartItem.getTotal() }}</div>
				<div class="add-to-cart-btn col-md-2">
					<a class="btn btn-warning" ng-click="cart.remove(cartItem)">Remove</a>
				</div>
			</div>
		</li>
	</ul>
	
	<div class="total-panel row">
		<div class="product-price total-label col-md-2 col-sm-offset-7">Total Price</div>
		<div class="product-price col-sm-3">{{ cart.getTotalPrice() }}</div>
	</div>
</div>