<div ng-controller="CartController as cartController">
	<div class="header">
		<a class="logo" href="#/">EE-Kart</a>
		<div class="mini-cart">
			<div ng-if="cartController.cart.getTotalItems() > 0">
				<a ng-href="#/cart" class="glyphicon glyphicon-shopping-cart">
					<span class="cart-items-count">{{ cartController.cart.getTotalItems() }}</span>
				</a>
			</div>
			<div ng-if="cartController.cart.getTotalItems() === 0">Your cart is empty!!</div>
		</div>
	</div>
	<div class="clear" /></div>