<div ng-controller="CartController as cartController">
	<div class="header">
		<div class="col-sm-4 col-xs-12"><a class="logo" href="#/">EE-Kart</a></div>
		<div class="mini-cart col-sm-8 col-xs-12">
			<div ng-if="cartController.cart.getTotalItems() > 0">
				<a ng-href="#/cart">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<span class="cart-items-count">{{ cartController.cart.getTotalItems() }}</span>
				</a>
			</div>
			<div ng-if="cartController.cart.getTotalItems() === 0">Your cart is empty!!</div>
		</div>
	</div>
	<div class="clear" /></div>