<div class="product-list">
	<div ng-include="'views/header.html'"></div>
	<div class="search-panel">
		<input class="search" type="text" ng-model="shop.query" />
		<a class="search-btn">
				<span class="glyphicon glyphicon-search"></span>
					</a>
	</div>
	<ul>
		<li ng-repeat="product in shop.products | filter : shop.query">
			<div class="product-panel panel panel-default">
				<div class="product-title panel-heading">
					<a href="#/products/{{product.id}}">{{ product.name }}</a>
				</div>
				<div class="panel-body">
					<div class="product-img col col-xs-6">
						<img ng-src="{{ product.imgUrl }}" />
					</div>
					<div class="col col-xs-6">
						<span class="product-price">{{ product.price | price }}</span>
						<div class="add-to-cart-btn" ng-controller="CartController as cartController">
							<a class="btn btn-success" ng-click="cartController.cart.addProduct(product)">
						Add to cart
					</a>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>