<div class="product-detail">
	<div ng-include="'views/header.html'"></div>
	<div class="media">
		<div class="media-left">
			<div class="product-img col col-md-4">
				<img class="media-object" ng-src="{{ product.imgUrl }}" />
			</div>
		</div>
		<div class="media-body">
			<div class="product-title media-heading">{{ product.name }}</div>
			<div>
				<span class="product-price">{{ product.price | price}}</span>
				<span class="add-to-cart-btn" ng-controller="CartController as cartController">
					<a class="btn btn-success btn-lg" ng-click="cartController.cart.addProduct(product)">Add to cart</a>
				</span>
				<div class="product-description">{{ product.description }}</div>
				<div class="product-features">
					<h4>Features</h4>
					<ul>
						<li ng-repeat="feature in product.features">
							<div>{{ feature }}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>