<div class="product-detail">
	<div ng-include="'views/header.html'"></div>
	<div class="product-title">{{ product.name }}</div>
	<div>
		<div class="product-img col col-md-4">
			<img ng-src="{{ product.imgUrl }}" />
		</div>
		<div class="col col-md-8">
			<span> Price: <span class="product-price">{{ product.price }}</span></span>
			<span class="add-to-cart-btn" ng-controller="CartController as cartController">
				<a class="btn btn-primary btn-lg" ng-click="cartController.cart.addProduct(product)">Add to cart</a>
			</span>
			<div class="product-description">{{ product.description }}</div>
			<div class="product-features">
				<ul>
					<li ng-repeat="feature in product.features">
						<div>{{ feature }}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>